# Virtual environment
.venv/
venv/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc

# Model weights
*.pt

# Runtime folders
uploads/
outputs/
runs/
videos/
excess_code

# Logs & temp
*.log
*.csv
Frontend_skills.md

# OS
.DS_Store